TEMPLATE_NAME=elasticsearch
CLUSTER_NAME=elasticsearch
INSTANCE_NAME=elasticsearch
CLUSTER_SIZE=2
HEAP_SIZE=3g
INSTANCE_TYPE=n1-standard-2
ZONE=us-central1-a
TAGS=es
DISK_SIZE=1TB
MINIMUM_MASTER_NODES=1
NETWORK=default
