TEMPLATE_NAME=elasticsearch
CLUSTER_SIZE=3
HEAP_SIZE=3g
INSTANCE_TYPE=n1-standard-2
ZONE=us-central1-a
TAGS=es
DISK_SIZE=500GB
MINIMUM_MASTER_NODES=2
NETWORK=elasticsearch
SCOPES=default,storage-full,compute-rw
SUBNET=
ENTERPRISE_ENABLED=true
DISK_TYPE=pd-ssd
EXTERNAL_IP=false
